<section class="newtraining" fxLayout  fxLayoutAlign="center">
<mat-card fxFlex.sm="100%" fxLayoutGap="12px" fxFlex="400px">
  <mat-card-title>Time to Start Workout??</mat-card-title>
  <mat-card-content>
    <mat-form-field>
  <mat-label>Workout Type</mat-label>
  <mat-select>
    <mat-option value="cruch">
      Crunch
    </mat-option>
    <mat-option value="TouchToes">
      Touch Toes
    </mat-option>
  </mat-select>
</mat-form-field>
  </mat-card-content>
  <mat-card-actions>
    <button type="submit" (click)="onStartTraining()" mat-button>Start</button>
  </mat-card-actions>
</mat-card>
</section>
